
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using CustomReports.Models
@model Bloc

<div class="row w-100 h-100 overflow-hidden p-0 m-0">
    <div class="col-lg-5 min-vh-100 bg-light">
        <div class="row">
            <div class="col border border-info rounded bg-light m-2" style="height:550px;">
                <p class="text-info font-weight-bold text-center mt-2">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    Available Data
                </p>
                <div>
                    
                </div>
            </div>
            <div class="col border border-info rounded bg-light m-2" style="height:550px;">
                <p class="text-info font-weight-bold text-center mt-2">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    Available Data
                </p>
                <div>
                    <div class="border border-info rounded m-1">
                        <a class="btn btn-block btn-info" href="#labels" aria-expanded="false" data-toggle="collapse">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            LABELS
                        </a>
                        <ul id="labels" class="collapse list-unstyled p-3">
                            <li id="days" class="text-center text-white font-weight-bold bg-info border border-white draggable" style="z-index: 200;"> DAYS </li>
                            <li id="names" class="text-center text-white font-weight-bold bg-info border border-white draggable" style="z-index: 200;"> NAMES </li>
                            <li id="companies" class="text-center text-white font-weight-bold bg-info border border-white draggable" style="z-index: 200;"> COMPANIES </li>
                        </ul>
                    </div>
                    <div class="border border-info rounded m-1">
                        <a href="#table1" class="btn btn-block btn-info " aria-expanded="false" data-toggle="collapse">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            TABEL1
                        </a>
                        <ul id="table1" class="collapse list-unstyled p-3">
                            <li id="item1" class="text-center text-white font-weight-bold bg-info border border-white draggable" style="z-index: 200;"> ITEM1 </li>
                            <li id="item2" class="text-center text-white font-weight-bold bg-info border border-white draggable" style="z-index: 200;"> ITEM2 </li>
                            <li id="item3" class="text-center text-white font-weight-bold bg-info border border-white draggable" style="z-index: 200;"> ITEM3 </li>
                        </ul>
                    </div>
                    <div class="border border-info rounded m-1">
                        <a href="#table2" class="btn btn-block btn-info " aria-expanded="false" data-toggle="collapse">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            TABLE2
                        </a>
                        <ul id="table2" class="collapse list-unstyled p-3">
                            <li id="item4" class="text-center text-white font-weight-bold bg-info border border-white draggable" style="z-index: 200;"> ITEM4 </li>
                            <li id="item5" class="text-center text-white font-weight-bold bg-info border border-white draggable" style="z-index: 200;"> ITEM5 </li>
                            <li id="item6" class="text-center text-white font-weight-bold bg-info border border-white draggable" style="z-index: 200;"> ITEM6 </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col border border-info rounded bg-light m-2 overflow-auto" style="height:550px;">
                <p class="text-info font-weight-bold text-center mt-2">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    Chart Data
                </p>
                <div class="border border-info rounded m-1">
                    <div class="block bg-white rounded">
                        <p class="text-info font-weight-bold text-center py-2 my-0">X-AXIS DATA</p>
                        <div class="table-responsive">
                            <ul id="X" class="droppable list-unstyled m-0 bg-info overflow-auto" style="height:120px;">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="border border-info rounded m-1">
                    <div class="block bg-white rounded">
                        <p class="text-info font-weight-bold text-center py-2 my-0">Y-AXIS DATA</p>
                        <div class="table-responsive">
                            <ul id="Y" class="droppable list-unstyled m-0 bg-info overflow-auto" style="height:120px;">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="border border-info rounded m-1">
                    <div class="block bg-white rounded">
                        <p class="text-info font-weight-bold text-center py-2 my-0">Filter By</p>
                        <div class="table-responsive">
                            <ul id="F" class="droppable list-unstyled m-0 bg-info overflow-auto" style="height:120px;">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 bg-light shadow p-0 ">
        <div class="d-flex">
            <button class="btn btn-info m-1">  
                <i class="fa fa-ban" aria-hidden="true"></i>
                Cancel
            </button>
            <button class="btn btn-info m-1">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                Save
            </button>

        </div>
        <div class="d-flex py-2 m-0 overflow-auto">
            <i id="line" title="Line" class="fa fa-line-chart bg-white p-1 mx-1 chart-type text-info" style="font-size:110px" aria-hidden="true"></i>
            <i id="bar" title="Bar" class="fa fa-bar-chart bg-white p-1 mx-1 chart-type text-info" style="font-size:110px" aria-hidden="true"></i>
            <i id="area" title="Area" class="fa fa-area-chart bg-white p-1 chart-type mx-1 text-info" style="font-size:110px" aria-hidden="true"></i>
            <img id="horizontalBar" title="Horizontal Bar" src="~/Content/img/horizontal-bar-chart_.svg" class="p-1 mx-1 chart-type" style="height:120px;background-color:white;" />
            <img id="radar" title="Radar" src="~/Content/img/spider-chart.svg"class="p-1 mx-1 bg-white chart-type" style="height:120px;" />
            <i id="pie" title="Pie" class="fa fa-pie-chart bg-white p-1 mx-1 chart-type text-info" style="font-size:110px" aria-hidden="true"></i>
            <img id="donut" title="Donut" src="~/Content/img/donut-chart.svg" class="svg p-1 mx-1 chart-type" style="height:120px;background-color:white;" />
        </div>
        <div class="bg-info p-3">
            <div class="bg-white rounded h-75 w-75 p-2">
                <p class="text-info font-weight-bold m-1 p-1"> @Model.Title </p>
                <hr />
                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="new-chart" style="display: block; width: 621px; height: 310px;" width="621" height="310" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
</div>
</div>
<script src="~/Scripts/chart.js/Chart.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/GridStack/popper.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
<script src="~/Scripts/GridStack/font-awsome.js"></script>
<script src="~/Scripts/GridStack/editBloc.js"></script>
